<div class="container">
  <div class="page-header">
    <h1>Lines <small><%= @line.name %></small></h1>
  </div>

  <%= render('form') %>

  <br>
  <p><%= link_to "Return to #{@line.name}", line_path(@line) %></p>
</div>
