<div class="container">
  <div class="page-header">
    <h1>Stations</h1>
  </div>

  <ul>
    <% @stations.each do |station| %>
      <li><%= link_to "#{station.name}", station_path(station) %></li>
    <% end %>
  </ul>

  <div id="alchemy" class="alchemy"></div>
  <script type="text/javascript">
    var config = {
      "dataSource": <%= @all_lines_data.html_safe %>,
      "graphHeight": function() { return 250 },
      "graphWidth": function() { return 500 },
    };
    alchemy.begin(config)
  </script>

  <p><%= link_to "Add new station", new_station_path, :class => "btn btn-primary" %></p>
</div>
