<div class="container">
  <div class="page-header">
    <h1>Buses <small>Bus number <%= @bus.number %></small></h1>
  </div>

  <%= render('form') %>

  <br>
  <p><%= link_to "Return to Bus #{@bus.number}", bus_path(@bus) %></p>
</div>
